<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css"> 
    <title>About</title>
</head>
<body>
    <script src="/public/script.js"></script> 
    <p>Currently I am undertaking a 9 week intensive full-stack web development course at <i>Ironhack Berlin</i></p>
    <p>My desire towards the end of week 9 is to seek full-time employment in a dynamic, collaborative 
        environment where I can refine my existing technical experience and expand upon my new 
        full-stack web development knowledge.
    </p> 
</body>
</html>